﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title></title>
    <script src="Scripts/jquery-1.9.1.js" type="text/javascript"></script>

    <!-- For the JavaScript APIs for Office, go to http://aka.ms/officejs-overview to learn more. -->
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>

    <script src="Config.js" type="text/javascript"></script>
    <script src="Scripts/FabricUI/MessageBanner.js" type="text/javascript"></script>
    <script src="Scripts/angular.min.js" type="text/javascript"></script>
    <script src="Scripts/ngOfficeUiFabric.min.js" type="text/javascript"></script>
    <script src="MessageCompose.js" type="text/javascript"></script>

    <!-- For the Office UI Fabric, go to http://aka.ms/office-ui-fabric to learn more. -->
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.6.1/fabric.min.css" />
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.6.1/fabric.components.min.css" />

    <!-- To enable the offline use of Office UI Fabric, use: -->
    <!-- link rel="stylesheet" href="Content/fabric.min.css" -->
    <!-- link rel="stylesheet" href="Content/fabric.components.min.css" -->

    <link href="MessageCompose.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app" ng-controller="MessageComposeCtrl">
    <div id="content-main" class="padding">
        <h1 class="ms-font-xl ms-fontWeight-light">Marketing Tools</h1>
        <uif-button ng-click="youtubeDialog.open()">Insert YouTube Video</uif-button>

        <h2 class="ms-font-xl ms-fontWeight-light">Tracked Links</h2>
        <uif-table>
            <uif-table-head>
                <uif-table-row>
                    <uif-table-header>Name</uif-table-header>
                    <uif-table-header>URL</uif-table-header>
                </uif-table-row>
            </uif-table-head>
            <uif-table-body>
                <uif-table-row ng-repeat="l in links">
                    <uif-table-cell>{{l.name}}</uif-table-cell>
                    <uif-table-cell>{{l.url}}</uif-table-cell>
                </uif-table-row>
            </uif-table-body>
        </uif-table>
    </div>
    <uif-message-bar ng-if="messageBanner.show" uif-type="{{messageBanner.type}}" id="messageBanner">
        <uif-content>{{messageBanner.content}}</uif-content>
    </uif-message-bar>


    <uif-dialog id="youtubeDialog" uif-overlay="dark" ng-if="youtubeDialog.show">
        <uif-dialog-header>
            <p class="ms-Dialog-title ms-font-m">
                Insert Youtube Video
            </p>
        </uif-dialog-header>
        <uif-dialog-inner>
            <uif-dialog-content>
                <div style="text-align: center;" ng-if="youtubeDialog.processing">
                    <uif-spinner style="display: inline-block;"></uif-spinner>
                </div>
                <div id="controls" class="ms-Grid" ng-if="!youtubeDialog.processing">
                    <div class="ms-Grid-row">
                        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
                            <uif-textfield placeholder="YouTube link" ng-model="youtubeDialog.link" />
                        </div>
                    </div>
                    <div class="ms-Grid-row">
                        <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg6">
                            <uif-textfield placeholder="Width" ng-model="youtubeDialog.width" style="width: 100%" />
                        </div>
                        <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg6">
                            <uif-textfield placeholder="Height" ng-model="youtubeDialog.height" style="width: 100%" />
                        </div>
                    </div>
                </div>
            </uif-dialog-content>
            <uif-dialog-actions uif-position="right">
                <button class="ms-Dialog-action ms-Button ms-Button--primary" ng-click="youtubeDialog.insert()" ng-disabled="youtubeDialog.processing">
                    <span class="ms-Button-label">Insert</span>
                </button>
                <button class="ms-Dialog-action ms-Button" ng-click="youtubeDialog.close()" ng-disabled="youtubeDialog.processing">
                    <span class="ms-Button-label">Cancel</span>
                </button>
            </uif-dialog-actions>
        </uif-dialog-inner>
    </uif-dialog>
</body>
</html>